.carousel-caption{
    position:static;
    color:#000;
    padding-bottom:0;
    p{
        margin-bottom: 0;
    }
    .custom_btn{
        width: fit-content;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}